@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  vertical-align: baseline;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

html {
  overflow-y: auto;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input [type="radio"] {
  vertical-align: text-bottom;
}

input [type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input [type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input[type="checkbox"] {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font-size: 99%;
}

small {
  font-size: 99%;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.05em;
}

sub {
  bottom: -0.025em;
}

.clickable,
label,
input[type="button"],
input[type="submit"],
input[type="file"],
button {
  cursor: pointer;
}

button,
input[type="button"] {
  width: auto;
  overflow: hidden;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* dark shades of primary color*/
/* The primary/main color */
/* lighter shades of primary color */
/* dark shades of secondary color*/
/* secondary color */
/* lighter shades of secondary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* lightest grey - used for outlines */
/* Other Colors used */
@font-face {
  font-family: Anime;
  src: url(../fonts/Anime.otf);
}

body {
  background-color: #e4e4e4;
  overflow-x: hidden;
}

/* dark shades of primary color*/
/* The primary/main color */
/* lighter shades of primary color */
/* dark shades of secondary color*/
/* secondary color */
/* lighter shades of secondary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* lightest grey - used for outlines */
/* Other Colors used */
.Home-Container p {
  text-align: left;
  color: white;
}

.Home-Container h1 {
  text-align: center;
  color: white;
  position: relative;
  top: -5rem;
  font-size: 5rem;
  font-family: Anime;
}

.Home-Container img {
  width: 100%;
  height: 30rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.Home-Container .Flex-Home {
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Home-Container .Flex-Home button {
  width: 18rem;
  height: 4rem;
  border-radius: .75rem;
  background-color: transparent;
  -webkit-box-shadow: #0059e0 0px 1px 10px, #0059e0 0px -1px 1px, #0059e0 0px 4px 6px, #0059e0 0px -3px 5px;
          box-shadow: #0059e0 0px 1px 10px, #0059e0 0px -1px 1px, #0059e0 0px 4px 6px, #0059e0 0px -3px 5px;
  padding: 10px;
}

.Home-Container .Flex-Home h2 {
  font-size: 2rem;
  color: #0059e0;
  font-family: Anime;
}

.Home-Container .Flex-Home button:hover {
  -webkit-box-shadow: #0059e0 0px -2px 1px, #0059e0 0px -2px 5px, #0059e0 0px 4px 6px, #0059e0 0px 2px 3px, #0059e0 0px -3px 5px;
          box-shadow: #0059e0 0px -2px 1px, #0059e0 0px -2px 5px, #0059e0 0px 4px 6px, #0059e0 0px 2px 3px, #0059e0 0px -3px 5px;
  height: 4.1rem;
  width: 19rem;
}

.Home-Container .Flex-Home button:hover h2 {
  font-size: 2.2rem;
}

.workout-header {
  text-align: center;
  font-family: anime;
  color: #0059e0;
  font-size: 3rem;
}

.workouts-container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.workouts-container .workout {
  width: 25rem;
  height: 35rem;
  margin-top: 2rem;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.workouts-container .workout h3 {
  text-align: center;
  color: #0059e0;
  font-size: 2rem;
  font-family: anime;
  margin-top: 2rem;
}

.workouts-container .workout ul {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.workouts-container .workout ul li {
  margin-top: 1.5rem;
  color: white;
}

.social-container .social-title {
  text-align: center;
  font-size: 3.5rem;
  color: #0059e0;
  font-family: anime;
}

.social-container hr {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-top: black 1px solid;
  display: block;
}

.social-container .social-youtube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 4rem;
}

.social-container .social-youtube .youtube-one {
  padding: 15px;
  width: 50%;
}

.social-container .social-youtube .youtube-one h3 {
  text-align: center;
  color: #0059e0;
  font-size: 2rem;
  margin-bottom: .5rem;
}

.social-container .social-youtube .youtube-one hr {
  border-top: 1px solid black;
}

.social-container .social-youtube .youtube-one iframe {
  margin-left: auto;
  margin-right: auto;
  display: block;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.social-container .social-youtube .youtube-two {
  width: 50%;
}
/*# sourceMappingURL=index.css.map */